@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
@* @model Blog *@
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Blog Ekle</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Rapor Olustur
    </a>
</div>

<form action="/Admin/CreateBlog" method="post" id="createblogform">

   

    <div class="form-group">
        <input type="text" class="form-control form-control-user"
               id="blogname" aria-describedby="blogname"
               placeholder="Baslik giriniz..."  required name="name">
    </div>
    <div class="form-group">
        <textarea type="text" class="form-control form-control-user"
                  id="blogdescription" placeholder="Aciklama Ekleyiniz..." required name="descripton" rows="15"> </textarea>
    </div>
    <div class="form-group">
        <input type="text" class="form-control form-control-user"
               id="blogimgurl" aria-describedby="blogimgurl"
               placeholder="Fotograf Url'sini Giriniz..."  required name="imageUrl">
    </div>

    <div class="form-group">
        <input type="text" class="form-control form-control-user"
               id="blogtags" aria-describedby="blogtags"
               placeholder="Etiketleri giriniz..."  required name="tags">
    </div>

    @* <div class="my-2"></div> *@
    @* <a href="#" class="btn btn-success btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-check"></i>
        </span>
        <span class="text">Kaydet</span>
    
    </a>
 *@
    <button class="btn btn-success btn-icon-split" type="submit">
        <span class="icon text-white-50">
            <i class="fas fa-check"></i>
        </span>
        <span class="text">Ekle</span>
    </button>

 

    <a href="/Admin/Blogs" class="btn btn-secondary btn-icon-split">
        @* //bir geri sayfa *@
        <span class="icon text-white-50">
            <i class="fas fa-arrow-right"></i>
        </span>
        <span class="text">Geri Don</span>
    </a>

    @* @if (Model.Status == 1)
    {
        <a href="/Admin/ToggleStatus?id=@Model.Id" class="btn btn-warning btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-exclamation-triangle"></i>
            </span>
            <span class="text">Kapa</span>
        </a>
    }
    else
    {
        <a href="/Admin/ToggleStatus?id=@Model.Id" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-flag"></i>
            </span>
            <span class="text">Ac</span>
        </a>
    } *@



</form>